<h2>
    Add Product </h2>

<form [formGroup]="productForm" (submit)="onFormSubmit()" class="example-form">


    <mat-form-field class="example-full-width">
        <mat-label> Name:</mat-label>
        <textarea matInput placeholder="Enter product name" formControlName="name"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label> Category:</mat-label>
        <textarea matInput placeholder="Enter product category" formControlName="category"></textarea>
    </mat-form-field>


    <input type="text">
    <BR>
    <BR> serialNo:
    <input type="text" formControlName="serialNo">
    <BR>
    <BR> stockCount:
    <input type="text" formControlName="stockCount">
    <BR>

    <BR> price:
    <input type="text" formControlName="price">
    <BR>
    <BR>
    <input type="submit" [disabled]='!productForm.valid' vaue="Add Product">

</form>