<h2>
    Add Product </h2>
<div style="width: 100%">
    <form [formGroup]="productForm" (submit)="onFormSubmit()" class="example-form">


        <mat-form-field class="example-full-width">
            <mat-label> Name</mat-label>
            <input matInput placeholder="Enter product name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> Category</mat-label>
            <input matInput placeholder="Enter product category" formControlName="category">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label> Serial No</mat-label>
            <input matInput placeholder="Enter product serial number" formControlName="serialNo">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> Stock Count</mat-label>
            <input matInput placeholder="Only Numerics are allowed" formControlName="stockCount">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> Price</mat-label>
            <input matInput placeholder="Only Numerics are allowed ex.100.00" formControlName="price">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]='!productForm.valid'>Add Product</button>


    </form>

</div>